<a href="https://colab.research.google.com/github/FelipeTufaile/customer_lifetime_value/blob/main/notebooks/Customer_Spend_Model_Feature_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Installing Kaggle API

In [ ]:
# Installing Kaggle API
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.14)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.7)

## Configuring Kaggle Credentials

Setup kaggle API correctly following https://www.kaggle.com/docs/api
```
%%shell
mkdir ~/.kaggle
echo \{\"username\":\"{your kaggle username}\",\"key\":\"{your kaggle api key}\"\} > ~/.kaggle/kaggle.json
pip install kaggle
```

In [ ]:
%%shell
mkdir ~/.kaggle
echo \{\"username\":\"{your kaggle username}\",\"key\":\"{your kaggle api key}\"\} > ~/.kaggle/kaggle.json
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.14)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.7)

## Installing PySpark

Since part of the feature engineering process may involve dealing with large amounts of data, we will be using PySpark.
To facilitate future work, the final processed table will be stored as a parquet file in Google Drive.

In [2]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Ign:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:10 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,549 kB]
Hit:11 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,420 kB]
Hit:13 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,378 kB]
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,207 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,129 kB]
Fetched 16.1 MB in 2s (6,913 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
47 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=ad6fdf57a85b2058bcd1a8241d129f46dfb2561ae706822fa9476536f247be0c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

'/usr/local/lib/python3.10/dist-packages/pyspark'

## Loading Libraries

In [3]:
# Importing Numpy library
import numpy as np

# Importing Pandas library
import pandas as pd

# Importing datetime library
from datetime import datetime, timedelta

# importing the zipfile module
from zipfile import ZipFile

# Importing gzip library
import gzip

# Importing plotying libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Importing userdata from Google Colab Library
from google.colab import userdata, drive

# Importing pyspark libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType, TimestampType
import pyspark.sql.functions as f
from pyspark.sql.window import Window

# Creating a spark session
spark = SparkSession.builder.appName("DataProcessingPySpark").getOrCreate()

spark

## Downloading Customer Spend Model Data

This notebook use the customer spend model data available in the Kaggle. The dataset can be found in the following link: https://www.kaggle.com/competitions/customer-spend-model/data.
The task requested by the author of the competition is to **predict customer purchases from German book company**. In order to do so, we are provided with the transaction history for each customer up to Nov 24, 2014.
The output that we are requested to provide is the log of the estimated amount spent by each customer after Nov 24, 2014. In order to avoid log(0), we are requested to adjust the log calculation to log(x+1), where x is the estimate of the future amount spent.
For more details about the task description you can access the following link: https://www.kaggle.com/competitions/customer-spend-model/overview.

In [ ]:
# Downloading the Customer Spend Model Data from Kaggle
!kaggle competitions download -c customer-spend-model

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
customer-spend-model.zip: Skipping, found more recently modified local copy (use --force to force download)

## Unzipping the Transactions Dataset

This is step is necessary to unzip the csv file download in the previous cell.

In [ ]:
# loading the customer-spend-model.zip and creating a zip object
with ZipFile("../content/customer-spend-model.zip", 'r') as zip_object:

	# Extracting specific file in the zip into a specific location.
	zip_object.extract("customer.csv", path="../content/drive/MyDrive/Colab/Sandbox/Data")

 	# Extracting specific file in the zip into a specific location.
	zip_object.extract("orders.csv", path="../content/drive/MyDrive/Colab/Sandbox/Data")

# closing object
zip_object.close()

## Processing Data Using PySpark

### Loading Orders Dataframe

**orders.csv**: all orders prior to 11/25/2014 for training (n=5,551) and test (n=11,230) sets. You should find 353,687 records plus a header.

- **id**: unique customer identifier;
- **orddate**: order date;
- **ordnum**: order number;
- **category**:
    - category identifier:,
        - 1 = fiction;
        - 3 = classics;
        - 5 = cartoons;
        - 6 = legends;
        - 7 = philosophy;
        - 8 = religion;
        - 9 = psychology;
        - 10 = linguistics;
        - 12 = art;
        - 14 = music;
        - 17 = art reprints;
        - 19 = history;
        - 20 = contemporary history;
        - 21 = economy;
        - 22 = politics;
        - 23 = science;
        - 26 = computer science;
        - 27 = traffic, railroads;
        - 30 = maps;
        - 31 = travel guides;
        - 35 = health;
        - 36 = cooking;
        - 37 = learning;
        - 38 = games and riddles;
        - 39 = sports;
        - 40 = hobby;
        - 41 = nature/animals/plants;
        - 44 = encyclopedia;
        - 50 = videos, DVDs;
        - 99 = non books
- **qty**: quantity;
- **price**: price paid;

In [7]:
# Reading orders dataframe
orders_df = spark.read.format("csv").option("header", "true").load("../content/drive/MyDrive/Colab/Sandbox/Data/orders.csv")

# Show orders dataframe
orders_df.show()

+---+---------+------+--------+---+------------+
| id|  orddate|ordnum|category|qty|       price|
+---+---------+------+--------+---+------------+
|957|10FEB2008| 38650|      35|  1|5.0106582642|
|957|10FEB2008| 38650|      35|  1|20.426101685|
|957|10FEB2008| 38650|      19|  1|20.400543213|
|957|15MAR2008| 48972|      40|  1|25.539016724|
|957|22NOV2008|150011|      40|  1|14.316169739|
|957|22NOV2008|150011|      40|  1|8.5896987915|
|957|03OCT2009|286151|      19|  1|15.313186646|
|957|04APR2010|376779|      14|  1|12.782295227|
|957|04APR2010|376779|      14|  1|5.0873527527|
|957|04APR2010|376779|      35|  1|6.5445327759|
|957|14AUG2011|622093|      99|  1|8.6919555664|
|957|14AUG2011|622093|      19|  1|10.174705505|
|957|14AUG2011|622093|       5|  1|15.236495972|
|957|10SEP2011|639810|      99|  1|9.9497375488|
|957|10SEP2011|639810|      35|  1|10.200271606|
|957|10SEP2011|639810|      99|  1|6.5445327759|
|957|10SEP2011|639810|      99|  1|2.5564575195|
|957|10SEP2011|639810|      14|  1|6.5445327759|
|957|10OCT2011|655931|      35|  1|10.174705505|
|957|10OCT2011|655931|      40|  1|12.731163025|
+---+---------+------+--------+---+------------+
only showing top 20 rows

### Creating a Transaction Dataframe

In [8]:
# Creating a transaction dataframe
trans_df = (

    # Referencing orders dataframe
    orders_df

    # Converting the transaction date format
    .withColumn("trans_dt", f.date_format(f.to_date(f.col("orddate"), "ddMMMyyyy"), 'yyyy-MM-dd'))

    # Selecting columns
    .select(
        f.col("id").alias("cust_id"),
        f.col("trans_dt"),
        #f.col("category"),                 # Will not be used right now
        #f.col("qty").alias("trans_qnt"),   # Will not be used right now
        f.col("price").alias("trans_amt")
    )

    # Consider only purchase amount higher than 0. Purchases amounts <= 0 does not make sense.
    .filter(f.col("trans_amt") > 0)

    # Agregating by customer id and transaction date
    .groupBy(['cust_id', 'trans_dt'])
    .agg(f.sum("trans_amt").alias("trans_amt"))

    # Ordering by customer id and transaction date
    .orderBy(f.asc("cust_id"), f.asc("trans_dt"))

# The caching step here aims to avoid crashing the feature processing, possibly due to long DAGs.
).cache()

# Counting the number of rows and caching the dataframe
print(f"Number of rows in the transaction dataframe: {trans_df.count()}")

# Printing the transaction dataframe
trans_df.show()

Number of rows in the transaction dataframe: 101023
+--------+----------+------------------+
| cust_id|  trans_dt|         trans_amt|
+--------+----------+------------------+
|  100021|2009-02-25|      6.6212272644|
|  100021|2010-01-20|     33.0805740352|
|  100021|2010-03-06|     45.8117370608|
|  100021|2010-04-14|        50.1065979|
|  100021|2010-05-10|27.047328949399997|
|  100021|2010-08-28|      50.899093628|
|  100021|2010-09-26|      15.287620544|
|10005188|2012-07-28|30.451723098600002|
|10005188|2012-08-26|     45.2999877928|
|10005188|2013-05-08|24.799987792899998|
|10005188|2013-09-22|42.849990844000004|
|10005188|2014-06-15|      19.799987793|
|10005188|2014-10-04|     19.8999938964|
|10009396|2012-08-07|     24.9506454467|
|10009396|2013-01-05|124.44995498579999|
|10009396|2013-01-13|      64.649982452|
|10009396|2013-10-07|      69.900253295|
|10009396|2014-06-01| 68.49997520360002|
|10009396|2014-07-13| 49.69998168920001|
|10009604|2013-05-04|     14.8999938965|
+--------+----------+------------------+
only showing top 20 rows

## Creating a Customer Lifetime value Dataframe

Next we will create a customer lifetime value dataframe. This dataframe will be a representation "snapshot" of each customer's behavior pattern on 24 Nov 2014, which considers each customers transactions history. Historically, features that best describe customer behavior are RFML features (Recency, Frequency, Monetary and Lifetime). Therefore, we will calculate RFML features along with additional features (e.g. Rolling 6 months transaction amounts).

In [9]:
# Calculating the first transaction date accross all customers
start_date = trans_df.agg({"trans_dt": "min"}).withColumnRenamed("min(trans_dt)", "date").collect()[0].date

print(f"First transaction date across all customers: {start_date}")

First transaction date across all customers: 2007-11-04

In [10]:
# Calculating the last transaction date accross all customers
end_date = trans_df.agg({"trans_dt": "max"}).withColumnRenamed("max(trans_dt)", "date").collect()[0].date

print(f"Last transaction date across all customers: {end_date}")

Last transaction date across all customers: 2014-11-24

Although we have a specific task of generating predictions for purchases after 24 Nov 2014, we can actually train our model on much broader timeframe. That is, we can generate a dataframe containing information on customers behavior for each month/year available for each customer instead of using only the "snapshot" on 24 Nov 2014.

The next feature processing step will generate such dataframe containing information on customer behavior for each valid combination of month/year and customer id.

In [11]:
# Create a PySpark calendar dataframe with daily frequency
# Initially we will start with a daily frequency. This will be converted to a monthly frequency as features are processed in the following cells.
calendar_df = (
  spark.createDataFrame(pd.DataFrame({'ref_dt': pd.date_range(start=start_date, end=end_date, freq='D')}))
  .withColumn("ref_dt", f.to_date("ref_dt"))
).cache()

# Counting the number of rows and caching the dataframe
print(f"Number of rows in the calendar dataframe: {calendar_df.count()}")

Number of rows in the calendar dataframe: 2578

In [12]:
# Creating a customer id dataframe
# This dataframe should contain all distinct customer ids available in the transaction dataframe
customers_id_df = (
    trans_df
    .select(f.col('cust_id'))
    .distinct()
).cache()

# Counting the number of rows and caching the dataframe
print(f"Number of rows in the customer id dataframe: {customers_id_df.count()}")

Number of rows in the customer id dataframe: 16661

In [13]:
# Creating a customer lifetime value dataframe
cltv_df = (

    # Referencing the calendar table
    calendar_df

    # Performing a crossjoin with distinct customer ids and distinct transaction dates.
    # This should result in one record per day per customer
    .crossJoin(customers_id_df)

    # Adding aggregated transaction information about customers
    .join(
        trans_df
        .withColumn("ref_dt", f.col("trans_dt")),
        on=["cust_id", "ref_dt"],
        how="left"
    )

    # Calculating the first transaction date per customer
    .withColumn("first_trans_dt", f.first("trans_dt", ignorenulls=True).over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(Window.unboundedPreceding, 0)))

    # Selecting only the dates after the first transaction date for each customer
    .filter(f.col("ref_dt") >= f.col("first_trans_dt"))

    # Calculating the last transaction date per customer
    .withColumn("last_trans_dt", f.last("trans_dt", ignorenulls=True).over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(Window.unboundedPreceding, 0)))

    # Calculating first transaction amount per customer
    .withColumn("first_trans_amt", f.first("trans_amt", ignorenulls=True).over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(Window.unboundedPreceding, 0)))

    # Calculating the lifetime of each customer: the number of days between the reference date and the first transaction date
    .withColumn("lifetime", f.datediff(f.col("ref_dt"), f.col("first_trans_dt")))

    # Calculating the recency of each customer: the number of days between the reference date and the last transaction date
    .withColumn("recency", f.datediff(f.col("ref_dt"), f.col("last_trans_dt")))

    # Trucating reference date to month-start (MS)
    .withColumn("ref_dt", f.trunc(f.col("ref_dt"), "month"))

    # Aggregating features
    # Since the reference date column was truncated to its month start (MS) this aggregation will reduce signifanctly the number of records in the final dataset since we will switch from
    # on record per day to one record per month for each customer.
    .groupBy(["cust_id", "ref_dt", "first_trans_dt", "first_trans_amt"])
    .agg(
       f.max("recency").alias("recency"),
       f.sum("trans_amt").alias("trans_amt"),
       f.mean("lifetime").alias("lifetime"),
    )

    # Converting recency from days to months
    .withColumn("recency", f.col("recency")/f.lit(365/12))

    # Converting lifetime from days to months
    .withColumn("lifetime", f.col("lifetime")/f.lit(365/12))

    # Adjusting the transaction amount column. This step adds the value zero to the transaction amount column for each month/customer without transaction
    .withColumn("trans_amt", f.when(f.col("trans_amt") > 0, f.col("trans_amt")).otherwise(f.lit(0)))

    # Creating a transaction indicator
    .withColumn("trans_ind", f.when(f.col("trans_amt") > 0, f.lit(1)).otherwise(f.lit(0)))

    # Calculating Frequency: The number of months with transactions per customer between the firt transaction date and the reference date
    .withColumn("frequency", f.sum("trans_ind").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(Window.unboundedPreceding, 0)))

    # Calculating Monetary: The total amount spent per customer between the firt transaction date and the reference date
    .withColumn("monetary", f.sum("trans_amt").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(Window.unboundedPreceding, 0)))

    # Calculating transaction rate: the average number of transactions per month
    .withColumn("trans_rate", f.when(f.col("lifetime") == 0, f.lit(1)).otherwise(f.col("frequency") / f.col("lifetime")))

    # Calculating rolling 6 months transaction quantity
    .withColumn("trans_qnt_R06m_lag0", f.sum("trans_ind").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(-5, 0)))
    .withColumn("trans_qnt_R06m_lag1", f.sum("trans_ind").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(-10, -5)))
    .withColumn("trans_qnt_R06m_lag2", f.sum("trans_ind").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(-15, -10)))

    # Adjusting rolling 6 months transaction quantity
    .withColumn("trans_qnt_R06m_lag0", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <=  5, f.lit(-1)).otherwise(f.col("trans_qnt_R06m_lag0")))
    .withColumn("trans_qnt_R06m_lag1", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <= 10, f.lit(-1)).otherwise(f.col("trans_qnt_R06m_lag1")))
    .withColumn("trans_qnt_R06m_lag2", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <= 15, f.lit(-1)).otherwise(f.col("trans_qnt_R06m_lag1")))

    # Calculating rolling 6 months moving average of the transaction quantity
    .withColumn("trans_qnt_R06m_mov_avg", f.mean("trans_qnt_R06m_lag0").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(Window.unboundedPreceding, 0)))
    .withColumn("trans_qnt_R06m_mov_avg", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <=  5, f.lit(-1)).otherwise(f.col("trans_qnt_R06m_mov_avg")))

    # Calculating rolling 6 months transaction amount
    .withColumn("trans_amt_R06m_lag0", f.sum("trans_amt").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(-5, 0)))
    .withColumn("trans_amt_R06m_lag1", f.sum("trans_amt").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(-10, -5)))
    .withColumn("trans_amt_R06m_lag2", f.sum("trans_amt").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(-15, -10)))

    # Adjusting rolling 6 months transaction amount
    .withColumn("trans_amt_R06m_lag0", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <=  5, f.lit(-1)).otherwise(f.col("trans_amt_R06m_lag0")))
    .withColumn("trans_amt_R06m_lag1", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <= 10, f.lit(-1)).otherwise(f.col("trans_amt_R06m_lag1")))
    .withColumn("trans_amt_R06m_lag2", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <= 15, f.lit(-1)).otherwise(f.col("trans_amt_R06m_lag1")))

    # Calculating rolling 6 months moving average of the transaction amount
    .withColumn("trans_amt_R06m_mov_avg", f.mean("trans_amt_R06m_lag0").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(Window.unboundedPreceding, 0)))
    .withColumn("trans_amt_R06m_mov_avg", f.when(f.datediff(f.col("ref_dt"), f.col("first_trans_dt"))/(365/12) <=  5, f.lit(-1)).otherwise(f.col("trans_amt_R06m_mov_avg")))

    # Calculating the transaction amount for next 6 months
    # This column can be used as a target column (as an alternative for logtarg) for model training
    .withColumn("trans_amt_R06m_lead1",  f.sum("trans_amt").over(Window.partitionBy(["cust_id"]).orderBy(f.asc("ref_dt")).rowsBetween(1, 6)))

    # Fill missing values with -1
    # This is step will add -1 to the rolling 6 months calculations in cases where there is not enough transaction history to calculate the corresponding feature
    .fillna(-1)

    # Ordering and selecting columns
    .select(
      "cust_id",
      "ref_dt",
      "first_trans_amt",
      "trans_rate",
      "recency",
      "frequency",
      "monetary",
      "lifetime",
      "trans_qnt_R06m_lag0",
      "trans_qnt_R06m_lag1",
      "trans_qnt_R06m_lag2",
      "trans_qnt_R06m_mov_avg",
      "trans_amt_R06m_lag0",
      "trans_amt_R06m_lag1",
      "trans_amt_R06m_lag2",
      "trans_amt_R06m_mov_avg",
      "trans_amt_R06m_lead1", # This feature can be used as target
    )

    # Ordering by customer id and transaction date
    .orderBy(f.asc("cust_id"), f.asc("ref_dt"))

).cache()

print(f"The dataframe has: {cltv_df.count()} rows")

The dataframe has: 749989 rows

In [14]:
# Printing a sample of the dataset
cltv_df.show()

+-------+----------+---------------+-------------------+-------------------+---------+------------------+--------------------+-------------------+-------------------+-------------------+----------------------+-------------------+-------------------+-------------------+----------------------+--------------------+
|cust_id|    ref_dt|first_trans_amt|         trans_rate|            recency|frequency|          monetary|            lifetime|trans_qnt_R06m_lag0|trans_qnt_R06m_lag1|trans_qnt_R06m_lag2|trans_qnt_R06m_mov_avg|trans_amt_R06m_lag0|trans_amt_R06m_lag1|trans_amt_R06m_lag2|trans_amt_R06m_mov_avg|trans_amt_R06m_lead1|
+-------+----------+---------------+-------------------+-------------------+---------+------------------+--------------------+-------------------+-------------------+-------------------+----------------------+-------------------+-------------------+-------------------+----------------------+--------------------+
| 100021|2009-02-01|   6.6212272644|  20.27777777777778|0.09863013698630137|        1|      6.6212272644|0.049315068493150684|                 -1|                 -1|                 -1|                  -1.0|               -1.0|               -1.0|               -1.0|                  -1.0|                 0.0|
| 100021|2009-03-01|   6.6212272644| 1.6008771929824561|  1.117808219178082|        1|      6.6212272644|  0.6246575342465753|                 -1|                 -1|                 -1|                  -1.0|               -1.0|               -1.0|               -1.0|                  -1.0|                 0.0|
| 100021|2009-04-01|   6.6212272644| 0.6144781144781145| 2.1041095890410957|        1|      6.6212272644|  1.6273972602739726|                 -1|                 -1|                 -1|                  -1.0|               -1.0|               -1.0|               -1.0|                  -1.0|                 0.0|
| 100021|2009-05-01|   6.6212272644|0.38020833333333337| 3.1232876712328768|        1|      6.6212272644|  2.6301369863013697|                 -1|                 -1|                 -1|                  -1.0|               -1.0|               -1.0|               -1.0|                  -1.0|                 0.0|
| 100021|2009-06-01|   6.6212272644|   0.27526395173454|   4.10958904109589|        1|      6.6212272644|   3.632876712328767|                 -1|                 -1|                 -1|                  -1.0|               -1.0|               -1.0|               -1.0|                  -1.0|                 0.0|
| 100021|2009-07-01|   6.6212272644| 0.2157210401891253|  5.128767123287671|        1|      6.6212272644|   4.635616438356164|                 -1|                 -1|                 -1|                  -1.0|               -1.0|               -1.0|               -1.0|                  -1.0|       33.0805740352|
| 100021|2009-08-01|   6.6212272644|0.17684108527131784|  6.147945205479452|        1|      6.6212272644|   5.654794520547945|                  0|                 -1|                 -1|   -0.8571428571428571|                0.0|               -1.0|               -1.0|   -0.8571428571428571|       33.0805740352|
| 100021|2009-09-01|   6.6212272644|0.15020576131687244|  7.134246575342465|        1|      6.6212272644|   6.657534246575342|                  0|                 -1|                 -1|                 -0.75|                0.0|               -1.0|               -1.0|                 -0.75|        78.892311096|
| 100021|2009-10-01|   6.6212272644|0.13054363376251787|  8.153424657534247|        1|      6.6212272644|    7.66027397260274|                  0|                 -1|                 -1|   -0.6666666666666666|                0.0|               -1.0|               -1.0|   -0.6666666666666666|       128.998908996|
| 100021|2009-11-01|   6.6212272644|0.11543327008222645|   9.13972602739726|        1|      6.6212272644|   8.663013698630136|                  0|                 -1|                 -1|                  -0.6|                0.0|               -1.0|               -1.0|                  -0.6|      156.0462379454|
| 100021|2009-12-01|   6.6212272644|0.10345804988662131| 10.158904109589042|        1|      6.6212272644|   9.665753424657535|                  0|                 -1|                 -1|   -0.5454545454545454|                0.0|               -1.0|               -1.0|   -0.5454545454545454|      156.0462379454|
| 100021|2010-01-01|   6.6212272644|0.18717948717948718| 10.783561643835617|        2|     39.7018012996|  10.684931506849315|                  1|                  0|                 -1|   -0.4166666666666667|      33.0805740352|                0.0|               -1.0|    2.2567145029333333|  122.96566391019999|
| 100021|2010-02-01|   6.6212272644|0.17160319699106724| 1.2821917808219176|        2|     39.7018012996|  11.654794520547945|                  1|                  0|                 -1|   -0.3076923076923077|      33.0805740352|                0.0|               -1.0|          4.6277806208|      173.8647575382|
| 100021|2010-03-01|   6.6212272644|0.23763020833333334| 1.4465753424657535|        3| 85.51353836039999|  12.624657534246575|                  2|                  0|                 -1|  -0.14285714285714285|       78.892311096|                0.0|               -1.0|     9.932389940457142|      143.3406410214|
| 100021|2010-04-01|   6.6212272644| 0.2935263369521512| 1.2493150684931507|        4|    135.6201362604|  13.627397260273971|                  3|                  0|                 -1|   0.06666666666666667|      128.998908996|                0.0|               -1.0|    17.870157877493334|   93.23404312139999|
| 100021|2010-05-01|   6.6212272644|0.34176029962546817|  0.821917808219178|        5|162.66746520979999|   14.63013698630137|                  4|                  0|                 -1|                0.3125|     156.0462379454|                0.0|               -1.0|    26.506162881737502|        66.186714172|
| 100021|2010-06-01|   6.6212272644|  0.319838766211006| 1.6767123287671233|        5|162.66746520979999|  15.632876712328766|                  4|                  1|                  1|    0.5294117647058824|     156.0462379454|      33.0805740352|      33.0805740352|     34.12616729724706|        66.186714172|
| 100021|2010-07-01|   6.6212272644|0.30055994729907776|  2.695890410958904|        5|162.66746520979999|  16.635616438356163|                  3|                  1|                  1|    0.6666666666666666| 122.96566391019999|      33.0805740352|      33.0805740352|    39.061694886855555|        66.186714172|
| 100021|2010-08-01|   6.6212272644| 0.3398510242085661| 3.5835616438356164|        6|    213.5665588378|  17.654794520547945|                  4|                  2|                  2|    0.8421052631578947|     173.8647575382|       78.892311096|       78.892311096|     46.15659292113684|        15.287620544|
| 100021|2010-09-01|   6.6212272644|0.37518355359765054| 0.9205479452054794|        7|228.85417938179998|   18.65753424657534|                  4|                  3|                  3|                   1.0|     143.3406410214|      128.998908996|      128.998908996|        51.01579532615|                 0.0|
+-------+----------+---------------+-------------------+-------------------+---------+------------------+--------------------+-------------------+-------------------+-------------------+----------------------+-------------------+-------------------+-------------------+----------------------+--------------------+
only showing top 20 rows

## Storing the Processed Dataset as Parquet Files

In [15]:
# Defining dataframe path
file_path = "../content/drive/MyDrive/Colab/Sandbox/customer_spend_model"

# Storing Customer Lifetime Value Data
cltv_df.write.format("parquet").mode("overwrite").option("overwriteSchema", "true").save(file_path)